<h1 class="text-center mt-4">Login</h1>

<div class="container d-flex justify-content-center">
<div class="row justify-content-center mt-5 w-75 login-square">
    <div class="col-12 col-md-4">
        <div class="login-welcome row justify-content-center align-items-center py-5 px-4">
            <div class="logo">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRnCxjrtWBtPfq6JX3INPCfarUY2eypJhQxUA9-yzhJH1Aebajq" width="150" alt="">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8">
        <div class="login-form p-5">
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control login-input" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control login-input" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn login-btn">Submit</button>
                </div>
              </form>
        </div>
    </div>
</div>
</div>